{% extends 'base.html' %}
{% load bootstrap3 %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <img src="{{project.screenshot.url}}" alt="" class="img-fluid">
            </div>

        </div>
        <div class="col-md-4">
            <div style="display: flex;">
                <img src="{{project.user.profile.profile_pic.url}}" alt="profile pic" style="border-radius: 300%;" width="32"
                    height="32" class="img-fluid">
                <a href="{%url 'profile' project.user.id%}" style="color: rgb(25, 54, 219);">
                    <h5 class="card-title" style="padding-top: 10px; margin-left:10px">Posted by {{project.user.username}}
                    </h5>
                </a>
            </div>
            <hr>
            
            <p style="font-weight: bolder;">Userbility:{{project_rating.usability_average}}</p>
            <hr>
            <p style="font-weight: bolder;">Design: {{project_rating.design_average}}</p>
            <hr>
            <p style="font-weight: bolder;">Userbility: {{project_rating.content_average}}</p>
            <hr>
            <p style="font-weight: bolder;">Average rating:{{project_rating.average}}</p>
            <hr>
          
           
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <form class="" action="{%url 'display_project' project.id%}" style="display:flex" method="POST">
            {%csrf_token%}
            {{form}}
            <button style="border:none; border-radius:0; font-weight:bold; padding:10px;">Submit</button>
        </form>
    </div>
</div>


{% endblock %}