{%extends 'base.html'%}
{% load bootstrap3 %}

{% block content %}
{{block.super}}

<div class="container">
    <div class="row">
        {%for project in projects%}
        <div class="card col-md-6 lg-6 mb-4">
            <div class="card-title">
                <p class="card-text"><strong>{{project.title}}</strong></p>
            </div>
           
            <div class="card-body">
                <img src="{{project.screenshot.url}}" alt="" class="img-fluid"> 
            
                <div class="ml-4 mb-3"style="padding-left: 15px;">
                    <p class="card-text"><strong>{{project.description}}</strong></p>
                </div>
                <div class="ml-4" style="padding-left: 15px;">
                    <p class="card-text"><strong>Created by By: {{project.user}}</strong></p>
                    <p class="card-text"><strong>Posted {{project.date_posted|timesince}}</strong> ago</p>
                    <a href="{%url 'display_project' project.id%}"class="btn blue-gradient">Rate Site</a>
                    <a href="{{ project.link }}" class="btn blue-gradient" target="_blank"> View Site</a>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>


{% endblock %}