 
{%extends 'base.html'%}
{% load bootstrap3 %}

{% block content %}
{{block.super}}

<div class="container">
  <div class="card">
    {%if profile.profile_pic%}
    <div class="view overlay">
      <img class="card-img-top " src="{{profile.profile_pic.url}}" alt="Card image cap" style="height: 250px; width: 250px">
    </div>
    {% endif %}

    <div class="card-body">
  
      <h4 class="card-title"><strong>Name : {{username}}</strong></h4>
      <p class="card-text"style="font-size:120%"> <strong>{{profile.bio | safe }} </strong></p>
      <hr>
        <p></strong>{{project_number}} projects</strong></p>
    </div>
  
  </div>
   <a href="{%url 'edit_profile' %}" class="btn blue-gradient">Edit Profile</a>
    
</div>


{% endblock %}