{%extends 'base.html'%}
{% load bootstrap3 %}

{% block content %}
{{block.super}}

<div class="container">
   

    {% if projects %}
      <div class="row">
        {% for project in projects%}
          <div class="col-md-8">
              <div class="card">
                  <img src="{{project.screenshot.url}}" alt="" class="img-fluid">
              </div>
  
          </div>
          <div class="col-md-4">
              <div style="display: flex;">
                  <img src="{{project.user.profile.profile_pic.url}}" alt="profile pic" style="border-radius: 300%;" width="32"
                      height="32" class="img-fluid">
                  <a href="{%url 'profile' project.user.id%}" style="color: rgb(27, 91, 230);">
                      <h5 class="card-title" style="padding-top: 10px; margin-left:10px">Posted by {{project.user.username}}
                      </h5>
                  </a> 
                  
              </div>
              <hr>
              <h5> {{project.description}}</h5>
              <a href="{%url 'display_project' project.id%}"class="btn blue-gradient">Rate Site</a>       
          </div>
          {% endfor %} 
      </div>
    {% else %}

    <div class="row text-center">     
          <h2> {{message}}</h2>
    </div>
    {% endif %}

{% endblock %}